<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @state.typeofstate %>
</p>

<p>
  <strong>Area:</strong>
  <%= @state.area %>
</p>

<p>
  <strong>Countfloor:</strong>
  <%= @state.countfloor %>
</p>

<p>
  <strong>Countroom:</strong>
  <%= @state.countRoom %>
</p>

<p>
  <strong>Address:</strong>
  <%= @state.address %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
