<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Genero</th>
      <th>Estado</th>
      <!--<th>Pic</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.year %></td>
        <td><%= client.genere %></td>
        <td><%= client.stateclient %></td>
        <!--<td><%= client.pic %></td>-->
        <td><%= link_to 'Ver', client, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_client_path(client), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Dar de baja', client, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
